html {
	margin: 0;
	padding: 0;
	font-size: 12px;
	background-color: white;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", Courier;
	width: 100%;
	color: black;
	text-align: center;
}
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
	font-size: 1rem;
}
a:enabled {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
	color: red;	
}
a:active {
	text-decoration: none;
}

img {
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
}
table {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	border: 1px solid transparent;
	text-align: center;
}
table tr {
	margin: 0;
	padding: 0;
}
table td {
	margin: 0;
	padding: 0;
	vertical-align: top;
	border: 1px solid transparent;
	text-align: left;		
}