<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Contratos</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="css/normalize.css" />
    <link type="text/css" rel="stylesheet" href="css/html.css" />
    <link type="text/css" rel="stylesheet" href="css/div.css" />
    <link type="text/css" rel="stylesheet" href="css/form.css" />
    <link type="text/css" rel="stylesheet" href="css/table.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
	<table>
		<tr>
			<td>
				<div id="divcontainer">
					<table class="tbldiv"><tr><td>
					<div id="divheader" clearable="false">
						<div id="divmenu">{% block contentmenu %}{% endblock %}</div>
						<div id="divlogin">{% block contentlogin %}{% endblock %}</div>
					</div>
				</td></tr></table>
					<div id="divsession"></div>
					<div id="divcontent">
						<div id="divfirst" clearable="true">
							{% block contentfirst %}{% endblock %}
						</div>
						<div id="divsecond" clearable="true">{% block contentsecond %}{% endblock %}</div>
						<div id="divthird" clearable="true">{% block contentthird %}{% endblock %}</div>
						<div id="divfourth" clearable="true">{% block contentfourth %}{% endblock %}</div>
						<div id="divfifth" clearable="true">{% block contentfifth %}{% endblock %}</div>
						<div id="divsixth" clearable="true">{% block contentsixth %}{% endblock %}</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
    
    <script type="text/javascript" src="js/jquery3.5.1.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script>
		console.log('app.twig');
		(function() {
			$(document).ready(function() {
				console.log('jquery loaded');
			});
		})();
	</script>
	{% block scripts %}{% endblock %}
</body>
</html>